<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<h2>Pregunta de <%= quiz.tema%></h2> <br>
	<h3><%= quiz.pregunta%></h3>
	<input type='text' name='respuesta' autofocus placeholder='Responda aqui...'/><br>
	<input type='submit' value='-   ENVIAR   -'/>
</form>
